body {
    background-color: pink;
}

p {
    font-weight: bold;
    text-align: center;
    border: dotted;
}

img {
    float: left;
}

span {
    float: left;
    font-style: italic;
    margin-left: 5%;
    margin-top: 20%;
    font-size: 30px;
}